h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0px;
}
a{
    text-decoration: none;
}

body{
    background-color: #FCFCFC !important;
}
.container-fluid{
    max-width: 1366px;
}

.w-45{
    width: 45%;
}
.w-40{
    width: 40%;
}
.w-35{
    width: 35%;
}
.w-15{
    width: 15%;
}
.w-10{
    width: 10%;
}


/* Dashboard Left */
.dashboard-left{
    width: 17.65%;
    max-height: 100vh;
    background-color: #6B7A8F;
    color: #fff;
    padding-top: 40px;
}

.dashboard-left .nav{
    margin-top: 40px;
}
.dashboard-left .nav .nav-link,
.dashboard-left .navbar .nav-link{
    font-size: 14px;
    color: #fff;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px 16px;
}
.dashboard-left .nav .nav-link:hover,
.dashboard-left .navbar .nav-link:hover{
    background-color: #F7882F;
    color: #fff;
}
.dashboard-left .nav img,
.dashboard-left .navbar .nav-link img{
    margin-right: 14px;
}
.dashboard-left .nav .active,
.dashboard-left .navbar .active{
    background-color: #F7882F;
    color: #fff !important;
}
.dashboard-left .navbar-light{
    background-color: transparent !important;
}
.navbar-light .navbar-toggler {
    border-color: #fff;
    padding: 5px 10px;
}
.navbar-light .navbar-toggler:focus {
    box-shadow: none;
}
.dashboard-left .navbar-collapse{
    margin-top: 15px;
}
.dashboard-left .fa-bars{
    color: #fff;
    font-size: 20px;
}
.navbar-brand img{
    width: 100px;
}
.logout{
    width: 104px;
    height: 80px;
    cursor: pointer;
    position: absolute;
    bottom: 8%;
}
.logout a{
    color: #fff;
    font-size: 14px;
}
.logout a:hover{
    color: #fff;
}
.logout:hover{
    background: #F7882F;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 5px;

}
.logout img{
    margin-bottom: 10px;
}

/* Dashboard Right */
.dashboard-right{
    width: calc(100% - 17.65%);
    padding: 0 30px;
    max-height: 100vh;
}
@media only screen and (min-width: 600px) {
    .dashboard-left .navbar{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .dashboard-left{
        width: 100%;
        max-height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .dashboard-right{
        width: 100%;
        padding: 0 15px;
    }
    .dashboard-left .nav,
    .volk-logo{
        display: none;
    }
    .logout{
        position: inherit;
        margin-top: 10px;
    }
    .logout a{
        color: #fff;
        font-size: 14px;
    }
    .logout a:hover{
        color: #fff;
    }
    .logout:hover{
        background: #F7882F;
        box-shadow: 0px 3px 10px #00000029;
        border-radius: 5px;
    }
    .logout img{
        margin-bottom: 10px;
    }
}

/* Header */
.header{
    margin-top: 40px;
    padding-right: 138px;
    padding-bottom: 7px;
    border-bottom: 1px solid #C5C9D7;
}
.header-left h2{
    font-size: 30px;
    font-weight: 600;
    color: #11193C;
    margin-bottom: 10px;
}
.header-left p{
    color: #8990AD;
}
.header-left p span{
    font-weight: 600;
}
.border-right{
    border-right: 1px solid #C5C9D7;
    height: 25px;
    margin-right: 40px;
}
.has-search{
    width: 375px;
}
.has-search .form-control{
    padding: 10px 52px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    color: #8990AD;
}
.has-search .form-control:focus{
    box-shadow: none;
}
.has-search ::placeholder{
    color: #8990AD
}
.has-search .form-control-feedback{
    position: absolute;
    width: 20px;
    height: 20px;
    color: #8990AD;
    margin: 13px 16px;
}
.notification{
    margin-left: 50px;
    margin-right: 25px;
}
.header-right-top,
.header-right-bottom{
    color: #11193C;
}
.header-right-bottom{
    font-size: 14px;
    margin-top: 2px;
}
@media only screen and (max-width: 600px) {
    .header{
        flex-direction: column;
        padding-right: 0px;
        margin-top: 20px;
    }
    .header-left h2{
        margin-bottom: 5px;
    }
    .header-left p{
        margin-bottom: 25px !important;
    }
    .header-right{
        flex-direction: column;
    }
    .has-search{
        width: 100%;
        margin-bottom: 20px;
    }
    .border-right,
    .notification{
        display: none;
    }
}

/* Numbers */
.numbers{
    margin: 30px 0px;
}
.numbers img{
    margin-right: 10px;
}
.numbers h2{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #11193C;
}
.numbers span{
    color: #8990AD;
}
@media only screen and (max-width: 600px) {
    .numbers{
        flex-direction: column;
        padding-top: 15px;
    }
    .layoffs{
        margin-bottom: 15px;
        justify-content: center;
    }
}

/* Reminder */
.reminder-one{
    border-bottom: 1px solid #F5F5F5;
    padding: 16px 24px 16px 16px;
}
.reminder-left,
.reminder-center a,
.reminder-right a{
    font-size: 14px;
    color: #8990AD;
    font-weight: 600;
}
.reminder-left{
    color: #6B7A8F;
}
.reminder-left p{
    font-size: 12px;
    font-weight: 400;
    color: #8990AD;
    margin-top: 8px;
}
.reminder-center a{
    color: #F7882F;
}
.calender-button{
    border-bottom: 1px solid #F5F5F5;
    padding: 16px;
}
.calender-button a{
    font-size: 10px;
    font-weight: 700;
    color: #F7882F;
    border: 1px solid #F7882F;
    border-radius: 5px;
    padding: 4px 7px;
}
.calender-button a:hover{
    background-color: #F7882F;
    color: #fff;
}

.fc-head .fc-day-header{
    font-weight: 400;
    font-size: 8px;
    color: #404040;
}
.fc-event-container,
.fc-more-cell{
    display: none;
}
.fc-other-month .fc-day-number{
    color: #DFE2EA;
}
.fc-content-skeleton .fc-day-number{
    color: #404040;
    font-size: 10px;
    font-weight: 400;
}
.fc-content-skeleton .fc-day-number:hover{
    text-decoration: none;
} 
.fc-basic-view .fc-body .fc-row {
    min-height: 37px !important;
}
.fc-day-grid-container{
    height: 185px !important;
}
.fc-unthemed td.fc-today {
    background: #F3E5FF !important;
}
.fc-icon-left-single-arrow:after,
.fc-icon-right-single-arrow:after {
    font-size: 12px !important;
    top: -7%;
}
.fc-left .fc-button-group .fc-corner-left,
.fc-left .fc-button-group .fc-corner-right{
    width: 22px;
    height: 19px;
    box-shadow: none;
}
.fc button .fc-icon {
    margin: 0 0 4px -2px !important;
}

.fc-right .fc-button-group .fc-state-default{
    border-color: #EBEDF2;
    box-shadow: none;
    background-color: #fff;
    font-size: 8px;
    color: #5B32B4;
    text-transform: capitalize;
    text-shadow: none;
    background-image: none;
    height: 19px;
}
.fc-right .fc-button-group .fc-state-active{
    background-color: #6B7A8F;
    color: #fff;
    text-shadow: none;
}
.fc-left .fc-button-group .fc-state-default{
    border-color: #EBEDF2;
}
.fc-left .fc-button-group .fc-state-default {
    background-color: #fff;
    background-image: none;
}
.fc-center h2{
    font-size: 14px;
    color: #404040;
    font-weight: 600;
}
.fc-left .fc-today-button{
    display: none;
}
.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    padding-left: 9px !important;
    padding-right: 9px !important;
}
.ui{
    margin-top: 12px;
    margin-bottom: 14px;
}
.ui.grid>.column:not(.row) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.fc-toolbar.fc-header-toolbar{
    margin-bottom: 10px !important;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #EBEDF2 !important;
}
.fc-toolbar .fc-center {
    display: block !important;
}
.fc-toolbar .fc-center h2 {
    margin-left: 8px !important;
}
.fc-basic-view .fc-body .fc-row:last-child {
    display: none !important;
}

/* Company Strength */
.chart{
    padding: 26px;
}
@media only screen and (max-width: 600px) {
    .chart{
        padding: 10px;
    }
}

/* Active Job Posts / To-Do List */
.reminder,
.company-strength,
.active-job-posts,
.to-do-list,
.calender{
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    margin-bottom: 16px;
}
.reminder .reminder-heading,
.company-strength .company-heading,
.active-job-posts .job-heading,
.to-do-list .list-heading{
    font-weight: 700;
    color: #404040;
    border-bottom: 1px solid #F5F5F5;
    padding: 16px;
}
.reminder .reminder-heading{
    padding: 16px 26px 16px 16px;
}
.active-job-posts .job-heading a{
    font-size: 10px;
    color: #F7882F;
    border: 1px solid #F7882F;
    border-radius: 5px;
    padding: 4px 12px;
}
.active-job-posts .job-heading a:hover{
    background-color: #F7882F;
    color: #fff;
}
.active-job-posts .job-title{
    padding: 16px 27px 16px 16px;
    border-bottom: 1px solid #F5F5F5;
    text-transform: uppercase;
    font-size: 14px;
    color: #404040;
    font-weight: 600;
}
.job-one,
.list-one{
    padding: 16px 27px 16px 16px;
    border-bottom: 1px solid #F5F5F5;
}
.job-one:last-child,
.list-one:last-child{
    border: none;
}
.field-one .form-check-input:focus{
    box-shadow: none;
}
.field-one .form-check-input:checked {
    background-color: #F7882F;
    border-color: #F7882F;
}
.field-one .form-check-input{
    border: 2px solid #C8C8C8;
}
.field-one .form-check-label{
    margin-left: 14px;
}
.field-one{
    font-weight: 600;
}
.field-one,
.field-two,
.field-three,
.field-four{
    font-size: 14px;
    color: #404040;
}
.low,
.medium,
.high{
    border-bottom: 8px solid #FF3309;
    width: 8px;
    border-radius: 4px;
    margin-right: 8px;
}
.medium{
    border-color: #0994FF;
}
.low{
    border-color: #DCE233;
}
.circle-border{
    border-bottom: 6px solid #8990AD;
    width: 6px;
    border-radius: 3px;
}
.circle-border:nth-child(2){
    margin: 0 3px;
}
@media only screen and (max-width: 600px) {
    .job-one,
    .list-one,
    .reminder-one{
        flex-direction: column;
    }
    .field-one,
    .field-two,
    .field-three,
    .field-four{
        width: 100% !important;
        justify-content: center;
        text-align: center;
    }
    .field-five{
        display: none !important;
    }
    .field-one .form-check-label {
        margin-left: 0px;
    }
    .job-title{
        display: none !important;
    }
    .reminder-left,
    .reminder-center,
    .reminder-right{
        width: 100% !important;
    }
    .reminder-center{
        margin: 10px 0 5px;
    }
    .reminder-right{
        text-align: center !important;
    }
}

/* Footer */
.footer{
    font-size: 14px;
    color: #8A8A8A;
    padding: 20px 0px 30px;
    border-top: 1px solid #C5C9D7;
}