h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0px;
}
a{
    text-decoration: none;
}

body{
    background-color: #FCFCFC !important;
}
.container-fluid{
    max-width: 1366px;
}


.w-23{
    width: 23%;
}
.w-22{
    width: 22%;
}
.w-20{
    width: 20%;
}
.w-18{
    width: 18%;
}
.w-15{
    width: 15%;
}
.w-7{
    width: 7%;
}

/* Dashboard Left */
.dashboard-left{
    width: 17.65%;
    max-height: 100vh;
    background-color: #6B7A8F;
    color: #fff;
    padding-top: 40px;
}

.dashboard-left .nav{
    margin-top: 40px;
}
.dashboard-left .nav .nav-link,
.dashboard-left .navbar .nav-link{
    font-size: 14px;
    color: #fff;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px 16px;
}
.dashboard-left .nav .nav-link:hover,
.dashboard-left .navbar .nav-link:hover{
    background-color: #F7882F;
    color: #fff;
}
.dashboard-left .nav img,
.dashboard-left .navbar .nav-link img{
    margin-right: 14px;
}
.dashboard-left .nav .active,
.dashboard-left .navbar .active{
    background-color: #F7882F;
    color: #fff !important;
}
.dashboard-left .navbar-light{
    background-color: transparent !important;
}
.navbar-light .navbar-toggler {
    border-color: #fff;
    padding: 5px 10px;
}
.navbar-light .navbar-toggler:focus {
    box-shadow: none;
}
.dashboard-left .navbar-collapse{
    margin-top: 15px;
}
.dashboard-left .fa-bars{
    color: #fff;
    font-size: 20px;
}
.navbar-brand img{
    width: 100px;
}
.logout{
    width: 104px;
    height: 80px;
    cursor: pointer;
    position: absolute;
    bottom: 8%;
}
.logout a{
    color: #fff;
    font-size: 14px;
}
.logout a:hover{
    color: #fff;
}
.logout:hover{
    background: #F7882F;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 5px;

}
.logout img{
    margin-bottom: 10px;
}

/* Dashboard Right */
.dashboard-right{
    width: calc(100% - 17.65%);
    padding: 0 30px;
    max-height: 100vh;
}
@media only screen and (min-width: 600px) {
    .dashboard-left .navbar{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .dashboard-left{
        width: 100%;
        max-height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .dashboard-right{
        width: 100%;
        padding: 0 15px;
    }
    .dashboard-left .nav,
    .volk-logo{
        display: none;
    }
    .logout{
        position: inherit;
        margin-top: 10px;
    }
    .logout a{
        color: #fff;
        font-size: 14px;
    }
    .logout a:hover{
        color: #fff;
    }
    .logout:hover{
        background: #F7882F;
        box-shadow: 0px 3px 10px #00000029;
        border-radius: 5px;
    }
    .logout img{
        margin-bottom: 10px;
    }
}

/* Header */
.header{
    margin-top: 40px;
    padding-right: 138px;
    padding-bottom: 7px;
    border-bottom: 1px solid #C5C9D7;
}
.header-left h2{
    font-size: 30px;
    font-weight: 600;
    color: #11193C;
    margin-bottom: 10px;
}
.header-left p{
    color: #8990AD;
}
.header-left p span{
    font-weight: 600;
}
.border-right{
    border-right: 1px solid #C5C9D7;
    height: 25px;
    margin-right: 40px;
}
.notification{
    margin-left: 50px;
    margin-right: 25px;
}
.header-right-top,
.header-right-bottom{
    color: #11193C;
}
.header-right-bottom{
    font-size: 14px;
    margin-top: 2px;
}
@media only screen and (max-width: 600px) {
    .header{
        flex-direction: column;
        padding-right: 0px;
        margin-top: 20px;
    }
    .header-left h2{
        margin-bottom: 5px;
    }
    .header-left p{
        margin-bottom: 25px !important;
    }
    .header-right{
        flex-direction: column;
    }
    .has-search{
        width: 100%;
        margin-bottom: 20px;
    }
    .border-right,
    .notification{
        display: none;
    }
}

/* Active Job Posts */
.select-employees .btn-group .btn-primary{
    background-color: #fff;
    color: #404040;
    border-color: #EBEDF2;
    font-size: 14px;
}
.select-employees .btn-group .btn-primary:first-child{
    padding: 11px 36px 10px;
}
.select-employees .btn-group .btn-primary:last-child{
    padding: 11px 29px 10px 30px;
}
.select-employees .btn-group .active,
.select-employees .btn-group .btn-primary:hover{
    background-color: #6B7A8F;
    color: #FFFFFF;
}
.select-employees .btn-group .btn-primary:focus{
    box-shadow: none;
}
.views{
    margin-right: 16px;
}
.views .btn-primary{
    background-color: #fff;
    color: #6B7A8F;
    border-color: #EBEDF2;
    padding: 8px;
    padding-bottom: 0;
}
.view-week{
    transform: rotate(90deg);
}
.views .active,
.views .btn-primary:hover{
    background-color: #6B7A8F;
    color: #FFFFFF;
}
.views .btn-primary:focus{
    box-shadow: none;
}
.invite a{
    font-weight: 600;
    font-size: 14px;
    color: #F7882F;
    border: 1px solid #F7882F;
    border-radius: 5px;
    padding: 11px 15px 10px;
    display: inline-block;
}
.invite a:hover{
    background-color: #F7882F;
    color: #fff;
}

.active-job-posts{
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    margin-bottom: 20px;
}
.active-job-posts .job-heading{
    font-weight: 700;
    color: #404040;
    padding: 16px 16px 16px 30px;
}

.has-search{
    width: 375px;
}
.has-search .form-control{
    padding: 7px 52px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    color: #8990AD;
}
.has-search .form-control:focus{
    box-shadow: none;
}
.has-search ::placeholder{
    color: #8990AD
}
.has-search .form-control-feedback{
    position: absolute;
    width: 20px;
    height: 20px;
    color: #8990AD;
    margin: 10px 14px 10px 18px;
}

.employee-box{
    box-shadow: 0px 0px 10px #0000000D;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 16px 20px 22px 9px;
}
.employee-inner{
    margin-bottom: 12px;
}
.person-img img{
    width: 132px;
    height: 132px;
    padding: 4px;
    border: 1px solid #6B7A8F;
}
.person-detail{
    border-left: 1px solid #F3F3F3;
    padding-left: 10px;
    margin-left: 13px;
}
.resume-head{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    color: #404040;
}
.cancel-layoff .resume-head{
    margin-top: 15px;
}
.social-detail{
    margin-bottom: 10px;
    font-size: 14px;
    color: #404040;
}
.social-detail span,
.id-44 span{
    font-weight: 600;
}
.social-detail:last-child{
    margin-bottom: 0;
}
.id-44{
    margin-bottom: 6px;
    font-size: 12px;
    color: #404040;
}
.resume-box{
    font-weight: 600;
    font-size: 12px;
    color: #6B7A8F;
    border: 1px solid #6B7A8F;
    border-radius: 50px;
    padding: 7px 12px;
}
.resume-box:hover{
    background-color: #6B7A8F;
    color: #fff;
}
.reason{
    margin-bottom: 10px;
    font-size: 14px;
    color: #404040;
}
.reason:last-child{
    margin-bottom: 0;
}
.reason-left{
    width: 67px;
}
.reason-right{
    width: calc(100% - 62px);
}
.rating-left{
    margin-right: 17px;
}
.gold-star{
    color: #EEA425;
    font-size: 17px;
}
.grey-star{
    color: #D9D9D7;
    font-size: 17px;
}
.rating{
    font-weight: 700;
    font-size: 10px;
    margin-left: 6px;
}
.view-profile a{
    font-weight: 600;
    font-size: 12px;
    color: #404040;
}
.margin-r28{
    margin-right: 28px;
}
.margin-l28{
    margin-left: 28px;
}
.margin-r13{
    margin-right: 13px;
}
@media only screen and (max-width: 600px) {
    .employee-box,
    .employee-inner{
        flex-direction: column;
    }
    .person-detail{
        margin: 0 auto;
        margin-top: 10px;
        border: none;
        padding-left: 0;
    }
    .resume-box{
        justify-content: center;
    }
    .resume-box{
        margin: 10px 0;
    }
    .view-profile{
        margin: 10px 0;
    }
    .social-detail{
        font-size: 12px;
    }
    .cancel-layoff{
        margin-bottom: 20px;
        flex-direction: column;
    }
    .cancel-layoff .resume-head{
        margin-top: 0;
    }
}

.page-content{
    font-size: 14px;
    color: #404040;
}
.page-content span:nth-child(2){
    font-weight: 600;
    margin-left: 9px;
}
.page-content .arrow-down-up{
    transform: rotate(180deg);
}
.page-link{
    border: none;
    background-color: transparent;
    color: #404040;
    font-size: 14px;
    padding: 0px 8px;
}
.pagination .active .page-link,
.page-link:hover{
    background-color: transparent;
    font-weight: 700;
    color: #404040;
}
.page-number{
    margin-bottom: 17px;
}
@media only screen and (max-width: 600px) {
    .select-employees .btn-group .btn-primary{
        padding: 8px 12px !important;
        font-size: 10px;
    }
    .invite a{
        font-size: 10px;
        padding: 8px 12px;
    }
    .views-button{
        flex-direction: column;
    }
    .views{
        margin-right: 0;
        margin-top: 10px;
    }
    .job-heading{
        flex-direction: column;
        padding: 15px !important;
    }
    .has-search{
        width: auto;
        margin-bottom: 0;
        margin-top: 15px;
    }
    .job-title{
        display: none !important;
    }
    .job-one{
        flex-direction: column;
        padding: 15px;
    }
    .field-one,
    .field-two,
    .field-three,
    .field-four,
    .field-five{
        width: 100% !important;
        text-align: center;
        padding: 4px 0;
    }
    .field-five{
        margin-top: 8px;
    }
    .page-number{
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
}

/* Footer */
.footer{
    font-size: 14px;
    color: #8A8A8A;
    padding: 20px 0px 30px;
    border-top: 1px solid #C5C9D7;
}

.padding-r10{
    padding-right: 10px;
}

/* Invite Employee */
#inviteEmployee .modal-lg{
    max-width: 813px;
}
#inviteEmployee .modal-header,
#inviteEmployee .modal-body{
    color: #404040 !important;
}
#inviteEmployee .modal-header{
    border-color: #ECECEC;
    padding: 16px 8px 16px 0;
    margin: 0 30px;
}
#inviteEmployee .modal-title{
    font-weight: 700;
    font-size: 16px;
}
#inviteEmployee .btn-close{
    font-size: 14px;
}
#inviteEmployee .btn-close:focus{
    box-shadow: none;
}

#inviteEmployee .modal-body{
    padding: 30px;
}
#inviteEmployee .form-floating>.form-control,
#inviteEmployee .form-floating>.form-select,
#inviteEmployee .joining-date{
    height: 48px;
}
.form-floating>.form-control{
    padding: 14px 15px 13px;
}
#inviteEmployee .form-floating>.form-control:focus,
#inviteEmployee .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 20px;
    padding-bottom: 7px;
}
#inviteEmployee .col-md-6,
#inviteEmployee .col-12{
    padding: 0 10px;
}
#inviteEmployee .form-floating,
#inviteEmployee .joining-date{
    border-bottom: 1px solid #6B7A8F !important;
    max-width: 365px;
    margin-bottom: 20px;
}
#inviteEmployee .form-control{
    border: none;
    background-color: #E6E6E6;
    border-radius: 5px 5px 0px 0px;
    color: #707070;
    font-weight: 600;
}
#inviteEmployee .check-user{
    margin-top: 13px;
}
#inviteEmployee .check-user .form-check-label{
    font-weight: 600;
    margin-left: 11px;
    cursor: pointer;
}
#inviteEmployee .check-user .form-check-input{
    border: 2px solid #6B7A8F;
    cursor: pointer;
    border-radius: 2px;
}
#inviteEmployee .check-user .form-check-input:checked {
    background-color: #6B7A8F;
    border-color: #6B7A8F;
}
#inviteEmployee .joining-date{
    font-weight: 400;
}
#inviteEmployee .form-floating label{
    color: #707070;
}
#inviteEmployee .form-floating>.form-control:focus~label,
#inviteEmployee .form-floating>.form-control:not(:placeholder-shown)~label,
#inviteEmployee .form-floating>.form-select~label{
    opacity: 1;
    color: #707070;
    font-size: 10px;
    font-weight: 600;
}
#inviteEmployee .form-control:focus,
#inviteEmployee .form-check-input:focus,
#inviteEmployee .btn-primary{
    box-shadow: none;
}
#inviteEmployee .submit-button{
    border-top: 1px solid #ECECEC;
    margin-top: 10px;
}
#inviteEmployee .btn-primary{
    background-color: #E6E6E6;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #707070;
    padding: 9px 14px 8px 16px;
    margin-top: 20px;
}
#inviteEmployee .btn-primary:hover{
    background-color: #F7882F;
    color: #FFFFFF;
}

/* Cancel Invitation */
#cancelInvitation .modal-dialog{
    max-width: 375px;
}
#cancelInvitation .modal-body{
    padding: 29px 0 40px;
}
.cancel-icon{
    color: #F53131;
    font-size: 66px;
}
#cancelInvitation p{
    font-weight: 600;
    color: #404040;
    margin-top: 11px;
    margin-bottom: 20px;
}
.cancel-button,
.yes-button{
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    display: inline-block;
}
.cancel-button{
    color: #6B7A8F;
    border: 1px solid #6B7A8F;
    padding: 9px 14px 8px 15px;
}
.cancel-button:hover{
    color: #6B7A8F;
}
.yes-button{
    color: #FFFFFF;
    background-color: #F7882F;
    padding: 9px 29px 8px;
    border: 1px solid #F7882F;
    margin-left: 12px;
}
.yes-button:hover{
    color: #FFFFFF;
}

/* Cancel Invitation */
#cancelInvitation .modal-dialog{
    max-width: 375px;
}
#cancelInvitation .modal-body{
    padding: 29px 0 40px;
}
.cancel-icon{
    color: #F53131;
    font-size: 66px;
}
#cancelInvitation p{
    font-weight: 600;
    color: #404040;
    margin-top: 11px;
    margin-bottom: 20px;
}
.cancel-button,
.yes-button{
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    display: inline-block;
}
.cancel-button{
    color: #6B7A8F;
    border: 1px solid #6B7A8F;
    padding: 9px 14px 8px 15px;
}
.cancel-button:hover{
    color: #6B7A8F;
}
.yes-button{
    color: #FFFFFF;
    background-color: #F7882F;
    padding: 9px 29px 8px;
    border: 1px solid #F7882F;
    margin-left: 12px;
}
.yes-button:hover{
    color: #FFFFFF;
}
